body {
  background-color:whitesmoke
}

h1 {
  text-align: center;
  background-color:cadetblue;  
  border-radius: 20px;
  
}

.quizHolder {
  margin-top: 90px;
  position: relative;
  left: 42%;
  display: inline-block;
  text-align: center;
  background-color:powderblue;
  border-style: solid; 
  border-radius: 10px;
}

.quizHeader {
  background-color:cadetblue;
  padding: 10px;  
  border-top-right-radius: 5px; 
  border-top-left-radius: 5px;
} 

.quizContent {
  padding: 20px;
}

#selectionsText { 

  font-family:Georgia, 'Times New Roman', Times, serif;
  

}


#SubmitButton,#resetButton {
  margin: 10px;
  border: none;
  padding: 20px;
  background-color: cadetblue;
  border-radius: 10px;
  width: auto;
}
