body {
  background-color:whitesmoke
}

h1 {
  text-align: center;
  background-color:cadetblue;  
  border-radius: 20px;
  
}  

#menuContainer {  
  width: fit-content; 
  height : fit-content;

  border: solid cadetblue ;
  display: flex; 
  flex-direction: column;
  position: absolute; 
  left: 35%; 
   
  padding: 3%;
}






.quizHolder { 
  min-width: 50%;
  margin-top: 1%;
  position: absolute; 
  left: 25%;
  display: inline-block;
  text-align: center;
  background-color:powderblue;
  border-style: solid; 
  border-radius: 1%; 
  
}

.quizHeader {
  background-color:cadetblue;
  padding: 1%;  
  border-top-right-radius: 5px; 
  border-top-left-radius: 5px; 
  font-size: xx-large;
} 


#quizSelector { 

  border-bottom: solid ;
  display: flex; 
  flex-direction: column;
  width: 20%;
  height: 20%;
  position: absolute;
  left: 40%;  
  
}

input[type="radio"] {
  vertical-align: baseline;
}

#options {  
  text-align: left;
  width: fit-content; 
  font-size:xx-large;  
  padding: 4%;  
  display: flex; 
  flex-direction: column;  
  margin-top: 5%;
  margin-left: 25%;
  position: relative; 
  
  }


input { 
  cursor: pointer; 
  appearance: none;
  border-radius: 50%;
  width: 35px;
  height: 30px;
  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
  


} 

input:checked { 
 
  background-color: #5072A7;

}

input:hover { 

  background-color: #5072A7;
}

#selectionsText { 

  font-family:Georgia, 'Times New Roman', Times, serif; 
  
} 

#menuButton { 

  border: none;
  padding: 30%; 
  background-color: cadetblue; 
  margin-bottom: 4% ;
  width:100%;
  transition: 0.2s all linear; 
  cursor: pointer;
  border-radius: 10px;
  font-size: larger;
  font-family:Georgia, 'Times New Roman', Times, serif; 

}

#selectButton { 

  width: 100%;
  height: 100%;

padding: 30%; 
background-color: cadetblue;
transition: 0.2s all linear;
cursor: pointer;
font-size: larger; 
font-family:Georgia, 'Times New Roman', Times, serif; 

} 

#backButton { 

  padding: 2%; 
  width: 10%;
  font-family:Georgia, 'Times New Roman', Times, serif; 
  font-size: larger; 
  background-color: cadetblue;
  transition: 0.2s all linear;
  cursor: pointer;

}



#SubmitButton,#resetButton {
  margin-top: 5%;
  margin-bottom: 1%;
  border: none;
  padding: 5%; 
  background-color: cadetblue;
  border-radius: 10px;
  width: 50%; 
  height: 50%; 
  cursor: pointer; 
   
  transition: 0.2s all linear;

}

#SubmitButton:hover,#resetButton:hover, #menuButton:hover, #selectButton:hover, #backButton:hover { 

  background-color:#5072A7 ;


}