body {
  background-color:whitesmoke
}

h1 {
  text-align: center;
  background-color:cadetblue;  
  border-radius: 20px;
  
} 


.quizHolder { 
  min-width: 50%;
  margin-top: 1%;
  position: absolute; 
  left: 25%;
  display: inline-block;
  text-align: center;
  background-color:powderblue;
  border-style: solid; 
  border-radius: 1%; 
  
}

.quizHeader {
  background-color:cadetblue;
  padding: 1%;  
  border-top-right-radius: 5px; 
  border-top-left-radius: 5px; 
  font-size: xx-large;
} 

.quizContent {
  padding: 10%; 
  width: fit-content; 
  height: fit-content;
} 

input[type="radio"] {
  vertical-align: baseline;
}

#options {  
  text-align: left;
  width: fit-content; 
  font-size:xx-large;  
  padding: 4%;  
  display: flex; 
  flex-direction: column; 
  left: 30%; 
  margin-bottom: 20%;
  position: relative;
  
  }


input { 
  cursor: pointer; 
  appearance: none;
  border-radius: 50%;
  width: 35px;
  height: 30px;
  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
  


} 

input:checked { 
 
  background-color: #5072A7;

}

input:hover { 

  background-color: #5072A7;
}

#selectionsText { 

  font-family:Georgia, 'Times New Roman', Times, serif; 
  
} 




#SubmitButton,#resetButton {
  margin-top: 50%; 
  margin-bottom: 1%;
  border: none;
  padding: 5%; 
  background-color: cadetblue;
  border-radius: 10px;
  width: auto; 
  cursor: pointer; 
  position: absolute; 
  bottom: 0%; 
  right:40%; 
  transition: 0.2s all linear;

}

#SubmitButton:hover,#resetButton:hover { 

  background-color:#5072A7 ;


}