html {
  visibility: visible;
  opacity: 1;
}
body {

  background-color: #E1EBEE;
 
}

h1 {
  text-align: center;
  background-color:cadetblue;  
  border-radius: 20px;
  
}  








#quizHolder { 
  min-height: 40%; 
  min-width: 40%;
  max-width: 50%; 
  max-height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  text-align: center;
  background-color:powderblue;
  border-style: solid; 
  border-radius: 1%; 
  
}

#quizHeader {
  background-color:cadetblue;
  padding: 1%;  
  border-top-right-radius: 5px; 
  border-top-left-radius: 5px; 
  font-size: xx-large;
}  

.popUpWindow { 
  position: fixed;
  width: 20%;
  height: 200px;
  margin: auto;
  left: 40%; 
  bottom: 60%;
  display: none;

}


#quizSelectionContainer { 
  position: absolute;
  overflow: hidden;
  min-width: 90%; 
  min-height: 100%;  
  object-fit: cover; 
}

#quizSelector {  
  
  margin: auto;
  border-bottom: solid ;
  display: flex; 
  flex-direction: column;
  min-width: 15vw;
  min-height: 20vh;
  position: absolute;
  top: 50%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
  
} 
.selectButton { 

width: 90%;
height: 100%;
padding: 20%; 
background-color: cadetblue;
transition: 0.2s all linear;
cursor: pointer;
font-size: large; 
font-family:Georgia, 'Times New Roman', Times, serif; 

} 


input[type="radio"] {
  vertical-align: baseline;
}

#options {   
  text-align: left;
  width: fit-content; 
  height: fit-content;
  font-size:xx-large;  
    
  display: flex; 
  flex-direction: column;   
  margin-left: 25%; 
  margin-top: 2% ;
  position: relative;
  
  }


input { 
  cursor: pointer; 
  appearance: none;
  border-radius: 50%;
  width: 35px;
  height: 30px;
  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
  


} 

input:checked { 
 
  background-color: #5072A7;

}

input:hover { 

  background-color: #5072A7;
}

#selectionsText { 

  font-family:Georgia, 'Times New Roman', Times, serif; 
  
} 






#backButton { 

  padding: 2%; 
  width: 10%;
  font-family:Georgia, 'Times New Roman', Times, serif; 
  font-size: larger; 
  background-color: cadetblue;
  transition: 0.2s all linear;
  cursor: pointer;

}



#SubmitButton {
  
  margin-top: 5%;
  margin-bottom: 1%;
  border: none;
  padding: 5%; 
  background-color: cadetblue;
  border-radius: 10px;
  width: 50%; 
  height: 50%; 
  cursor: pointer; 
   
  transition: 0.2s all linear;

} 

#resetButton { 
  padding: 5%; 
  border-radius: 10px;  
  position: relative;
  background-color: cadetblue;
  transition: 0.2s all linear; 
  cursor: pointer;
 

}

#SubmitButton:hover,#resetButton:hover, .selectButton:hover, #backButton:hover { 

  background-color:#5072A7 ;


}